@import url("https://fonts.googleapis.com/css?family=Ubuntu");
body {
  font: 1.2em 'Ubuntu', Arial, sans-serif;
  background-color: #f4f4f4;
  color: #515862; }

a {
  color: #46a5d1; }

#header {
  background: #fff;
  padding: 22px 0; }
  #header .blog a {
    color: #FFF;
    padding-top: 3px;
    padding-bottom: 3px; }

.logo {
  margin-top: 8px;
  display: inline-block; }

.main-nav {
  position: relative;
  margin-top: -22px;
  margin-bottom: -22px; }
  .main-nav li {
    padding-top: 22px;
    padding-bottom: 22px; }
    .main-nav li:hover {
      background: #12a3d6; }
      .main-nav li:hover a {
        color: #fff;
        background: none; }
      .main-nav li:hover:not(:last-child)::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 10px;
        border: 6px solid transparent;
        border-bottom: 6px solid #0080B7;
        margin-left: -6px; }
      .main-nav li:hover:not(:last-child)::after {
        content: '';
        position: absolute;
        height: 10px;
        background: #0080b7;
        bottom: 0;
        width: 100%; }
    .main-nav li a {
      color: #515862;
      font-size: 1.4em;
      padding-left: 25px;
      padding-right: 25px; }
      .main-nav li a:focus {
        background: none; }
  .main-nav .tab-active {
    background: #12a3d6; }
    .main-nav .tab-active a {
      color: #fff;
      background: none; }
    .main-nav .tab-active:not(:last-child)::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 10px;
      border: 6px solid transparent;
      border-bottom: 6px solid #0080B7;
      margin-left: -6px; }
    .main-nav .tab-active:not(:last-child)::after {
      content: '';
      position: absolute;
      height: 10px;
      background: #0080b7;
      bottom: 0;
      width: 100%; }
  .main-nav .blog {
    background: #f98561;
    border-radius: 4px;
    margin-top: 29px;
    padding-top: 0;
    padding-bottom: 0; }

.search img {
  display: inline-block;
  transition: transform .3s; }

.search a {
  color: #515862;
  font-size: 1.2em;
  text-decoration: none; }

.search:hover img {
  transform: scale(1.15); }
